.DS_Store
.idea/
.vite-ssg-dist
.vite-ssg-temp
*.crx
*.local
*.log
*.pem
*.xpi
*.zip
dist
dist-ssr
/.vitepress/
/docs/.vitepress/cache/
/docs/.vitepress/dist/
extension/
build/
.plasmo/
node_modules
src/auto-imports.d.ts
src/components.d.ts
components.d.ts
yarn.lock
keys.json
.playwright-cli/
playwright-report
test-results
